<a href="https://colab.research.google.com/github/pallavi160425/python_mini_tasks/blob/main/Assignments_map_reduce_filter_func.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#assignment 1

In [ ]:
items1=list(map(int,input().split()))
items1

7 8 9 6

[7, 8, 9, 6]

In [ ]:

def restaurant(*val):
  total=0
  for i in val:
    print(i)
    if i <= 0:
      print("invalid")
    else:
      total=total+i
  #return total

  service_charge= (5/100) *total
  tax  = 10/100*total
  final_bill= total + service_charge + tax
  return final_bill

In [ ]:
total = 0
for i in items1:
  print(i)
  if i <= 0:
    print("invalid")
  else:
    total=total+i
print(total)

In [ ]:
print(restaurant(*items1))

In [ ]:
m=list(map(int,input().split()))
m

In [ ]:
def shopping_mall(*items2):
  total=0
  for i in items2:
    print(i)
    if i<=0:
      print("invalid")
    else:
      total=total+i
  service_charge=25/100*total
  GST = 15/100*total
  final_rate=total+service_charge+GST
  return final_rate

In [ ]:
print(shopping_mall(*m))

# assignment 2

In [ ]:
def employDetails(name, **details):  #  **kwargs

  print(type(details))
  print(details.items())
  for key, value in details.items():
    print(key, " as key")
    print(value," as value")

  return "these are the employee deatails"

In [ ]:
def fun(name,**marks):
  sum=0
  for key,value in marks.items():
    print ("{} get a {} marks in {}".format(name,value,key))
    if value>=0:
      sum=sum+value

    else:
      print("Invalid data entry, kindly check ur data for {} subject which u got {} marks".format(key, value))
  print(sum,"total marks")
  percentage=sum/600*100
  print(percentage, "total percentage")
  if percentage>=90:
    print("get a A+ grade in exams")
  elif percentage>=80 and percentage<90:
    print("get a A grade in exams")
  elif percentage>=70 and percentage<80:
    print("get a B+ grade in exams")
  elif percentage>=60 and percentage<70:
    print("get a B grade in exams")
  elif percentage>=50 and percentage<60:
    print("get a C grade in exams")
  elif percentage>=40 and percentage<50:
      print("get a D grade in exams")
  elif percentage>=30 and percentage<40:
      print("get a E grade in exams")
  elif percentage>=0 and percentage<30:
      print("failed in exams")
  else:
    print("invalid")

In [ ]:
fun(name="ramesh",eng=87,tel=76,mat=47,hin=89,science=67,social=80)

ramesh get a 87 marks in eng
ramesh get a 76 marks in tel
ramesh get a 47 marks in mat
ramesh get a 89 marks in hin
ramesh get a 67 marks in science
ramesh get a 80 marks in social
446 total marks
74.33333333333333 total percentage
get a B+ grade in exams

In [ ]:
fun(name="pallavi",eng=80,tel=95,mat=90,hin=85,science=75,social=82)

pallavi get a 80 marks in eng
pallavi get a 95 marks in tel
pallavi get a 90 marks in mat
pallavi get a 85 marks in hin
pallavi get a 75 marks in science
pallavi get a 82 marks in social
507 total marks
84.5 total percentage
get a A grade in exams

In [ ]:
fun(name="asha",eng=-6,tel=56,mat=0,hin=-6,science=7,social=55)

asha get a -6 marks in eng
Invalid data entry, kindly check ur data for eng subject which u got -6 marks
asha get a 56 marks in tel
asha get a 0 marks in mat
asha get a -6 marks in hin
Invalid data entry, kindly check ur data for hin subject which u got -6 marks
asha get a 7 marks in science
asha get a 55 marks in social
118 total marks
19.666666666666664 total percentage
failed in exams

In [ ]:
fun(name="vinay",eng=0,tei=0,mat=0,hin=0,science=0,social=0)

vinay get a 0 marks in eng
vinay get a 0 marks in tei
vinay get a 0 marks in mat
vinay get a 0 marks in hin
vinay get a 0 marks in science
vinay get a 0 marks in social
0 total marks
0.0 total percentage
failed in exams

# assignment 3

In [ ]:
stock={"laptop":20,"shoes":15,"bags":25,"mobile":10,"watches":12,"earphones":8,"football":6,"cricket_bat":9,"cricket balls":25,"mobile charger":5,"laptop charger":10}

user_needs  = {"bags":5,"mobile":1,"mobile charger":2 , "fans":10}
prices={"bags":800,"mobile":30000,"mobile charger":400}

for key,value in user_needs.items():
  #print(key, "as key")
  #print(value,"as value")
  #print(key, stock[key])
  if key in stock:
    print(key, stock[key], "exists")
    #print(key,user_needs[key])
    if stock[key]>user_needs[key]:
      print(key,value)
      if key in prices:
        total_price=prices[key]*value
        print(total_price, "is a total price")
        discount=10/100*total_price
        print(discount,"disciount")
        final_price=total_price-discount
        print(final_price,"final amount to be paid")

bags 25 exists
bags 5
4000 is a total price
400.0 disciount
3600.0 final amount to be paid
mobile 10 exists
mobile 1
30000 is a total price
3000.0 disciount
27000.0 final amount to be paid
mobile charger 5 exists
mobile charger 2
800 is a total price
80.0 disciount
720.0 final amount to be paid

# NUmber guessing game

In [ ]:
import random

In [ ]:
while True:
  num =  random.randint(1,15)
  print(num)
  count = 0

  for i in range(3):
    user_input=int(input("enter a value in 1 to 15:  " ))
    #print(user_input)

    if (user_input==num):
      print(" you won the game")
      game=input("do you want play this game:")
      break

    else:
      count += 1


  if count == 3:
      print("you loss the game")
      game=input("do you want play this game again:")

  if (game == 'yes'):
    print("you decided to play this game")
  else:
    print("you dont want to play this game")
    break

7
enter a value in 1 to 15:  6
enter a value in 1 to 15:  4
enter a value in 1 to 15:  2
you loss the game
do you want play this game again:yes
you decided to play this game
9
enter a value in 1 to 15:  5
enter a value in 1 to 15:  9
 you won the game
do you want play this game:no
you dont want to play this game

In [ ]:
for i in range(3):
  user_input=int(input("enter a value in 1 to 15:  " ))
  print(user_input)

In [ ]:
def f():
  pass
print(type(f()))

# words to num

In [ ]:
!pip install word2number

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py) ... done
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5568 sha256=5b2a93c75ee943b393a2f57b1bd4991e3eacd7a4ec3d7d868c22ac7a95383a10
  Stored in directory: /root/.cache/pip/wheels/cd/ef/ae/073b491b14d25e2efafcffca9e16b2ee6d114ec5c643ba4f06
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [ ]:
from word2number import w2n

In [ ]:
input_1="seven hundred ninety five"
output_1=w2n.word_to_num(input_1)
print(output_1)
input_2="one million five thousand five hundred sixty nine"
output_2=w2n.word_to_num(input_2)
print(output_2)

795
1005569

In [52]:
input3="five thousand two hundred twenty five"
output3=w2n.word_to_num(input3)
print(output3)

5225

In [64]:
run1="three hundred  thousand nine hundred"
output4=w2n.word_to_num(run1)
print(output4)

300900