<a href="https://colab.research.google.com/github/pallavi160425/python_mini_tasks/blob/main/basics_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## To calculate the sum of all the odd numbers within the given range.
# range  = 1 to 25
# if odd numbers count>0 print count
# else print no odd numbers

In [ ]:
num=26
sum=0
for i in range(1,25):
  if i%2!=0:
   sum=sum+i
print(sum)

144

In [ ]:
li = [5,3,6,3,12,6,8,2,4,6,3,1,4,7,4,65,76,3,2,65,7]
for i in li:
  print(i)

5
3
6
3
12
6
8
2
4
6
3
1
4
7
4
65
76
3
2
65
7

In [ ]:
# print all numbers in this list
for i in li:
  print(i)

5
3
6
3
12
6
8
2
4
6
3
1
4
7
4
65
76
3
2
65
7

In [ ]:
# print all numbers which r greater than 20
for i in li:
  if i>20:
    print("greater than 20")
  else:
    print('invalid')
    print(i)

invalid
5
invalid
3
invalid
6
invalid
3
invalid
12
invalid
6
invalid
8
invalid
2
invalid
4
invalid
6
invalid
3
invalid
1
invalid
4
invalid
7
invalid
4
greater than 20
greater than 20
invalid
3
invalid
2
greater than 20
invalid
7

In [ ]:
#print all numbers which are lesser than 15
for i in li:
  if i<15:
    print('less than 15')
  else:
    print('invalid')
    print(i)

less than 15
less than 15
less than 15
less than 15
less than 15
less than 15
less than 15
less than 15
less than 15
less than 15
less than 15
less than 15
less than 15
less than 15
less than 15
invalid
65
invalid
76
less than 15
less than 15
invalid
65
less than 15

In [ ]:
# find the sum of all numbers which are lesser than 10
sum=0
for i in li:
  if i<10:
    print('less than 10')
    sum=sum+i
  else:
    print('invalid')
print(sum,'is the total sum of less than 10')

less than 10
less than 10
less than 10
less than 10
invalid
less than 10
less than 10
less than 10
less than 10
less than 10
less than 10
less than 10
less than 10
less than 10
less than 10
invalid
invalid
less than 10
less than 10
invalid
less than 10
74 is the total sum of less than 10

In [ ]:
n = 20
import math
area = (1/4)*((math.sqrt(3))*(n**2))
print(area)

173.20508075688772

# Print the values from N to 1 in a separate line.
# n = 10 t0 1

# o/p : 10
         9
         8
         7
         '
         '
         1

In [ ]:


N = int(input("Enter the input here :"))

for i in range(N,1,-1):
  print(i)

Enter the input here :15
15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [ ]:
p=int(input())
for i in range(p,1,-1):
  print(i)

20
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [ ]:
k=int(input())
for i in range(1,k+1,3):
  print(i)

20
1
4
7
10
13
16
19

# find the length of character without using len Function
#I/P   : "Python"
# O/P  : 6

In [ ]:
data="python is a programming language"
count=0
for i in data:
  print(i,'is the character')
  count=count+1
print(count)

p is the character
y is the character
t is the character
h is the character
o is the character
n is the character
  is the character
i is the character
s is the character
  is the character
a is the character
  is the character
p is the character
r is the character
o is the character
g is the character
r is the character
a is the character
m is the character
m is the character
i is the character
n is the character
g is the character
  is the character
l is the character
a is the character
n is the character
g is the character
u is the character
a is the character
g is the character
e is the character
32

In [ ]:
data="python"
for i in range(len(data)):
  print(i)
  print(data[i])

0
p
1
y
2
t
3
h
4
o
5
n

#fruits = ["Apple","Mango","Grapes","Kiwi','Cherry','Banana']
# check "cherry" presents in fruits or not
# if presents print "Found"
# else "Not Found"

In [ ]:
fruits=['apple','mango','grapes','kiwi','cherry','banana']
for i in fruits:
  if (i=='cherry'):
    print('found')
  else:
    print('not found')

not found
not found
not found
not found
found
not found

# by taking user input
#removing white spaces by using split() function
#then iterate over the loop
#I/P : I am an Indian
"""
o/p : I
      am
      an
      Indian
"""

In [ ]:
pallavi='i am an indian'
for i in pallavi:
  print(i)
  print(pallavi.split(" "))

i
['i', 'am', 'an', 'indian']

['i', 'am', 'an', 'indian']
a
['i', 'am', 'an', 'indian']
m
['i', 'am', 'an', 'indian']

['i', 'am', 'an', 'indian']
a
['i', 'am', 'an', 'indian']
n
['i', 'am', 'an', 'indian']

['i', 'am', 'an', 'indian']
i
['i', 'am', 'an', 'indian']
n
['i', 'am', 'an', 'indian']
d
['i', 'am', 'an', 'indian']
i
['i', 'am', 'an', 'indian']
a
['i', 'am', 'an', 'indian']
n
['i', 'am', 'an', 'indian']

biggest among three numbers

> Indented block


num>0
case1 : num1 >num2 and num3  num1 is greater
case2 : num2>num1 and num3   num1 is greater
case3 : num3 is greater than num1 nd num2
cas4   : all are equal numbers
num<0 it is a negative number

In [ ]:

num1= int(input())
num2= int(input())
num3= int(input())

if (num1<=0 or num2<=0 or num3<=0):
  print('invalid')
elif (num1>num2 and num1>num3):
  print('num1 is a greater')
elif (num2>num1 and num2>num3):
  print('num2 is a greater')
elif (num3>num1 and num3>num2):
  print('num3 is a greater')
elif (num1==num2==num3):
  print('all are equal numbers')

-7
-78
67
invalid

# reverse the string by using slicing
# python is very easy to learn

In [ ]:
numbers="python is very easy to learn"
for i in range(len(numbers),0,-1):
  print(numbers.split(" "))
print(i)

['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
['python', 'is', 'very', 'easy', 'to', 'learn']
1

Check if the first and last element of a list is the same

In [ ]:
li=[0,-1]
if (li==0,-1):
  print('same')
else:
  print('not same')

same

Add 900000 in a list
[10, 20, [300, 400, [5000, 6000], 500], 30, 40]
#prints [500,6000]

In [ ]:
li=[10,20,[300,400,[5000,6000],500],30,40]
print(li.append(900000))
#print(li[2][2:3])
print(li)

None
[10, 20, [300, 400, [5000, 6000], 500], 30, 40, 900000]